**/Con dos commit.png
**/desktop.ini
**/Con 4 commit y sus hash flujo.png
**/Merge.png
**/Nueva rama con git branch y git switch.png
**/Nueva rama con git branch y git switch2.png
**/Nueva rama con git branch y git switch3.png
**/Merge + resolucion de conflicto.png
